._*
.DS_Store
._.DS_Store
.project
*.sublime-workspace
.externalToolBuilders
/custom/modules/examples/
*.sass-cache
.buildpath
/reports
/tools
/build/properties/default.prop
*.sublime-project
/tmp
.settings
/www
/deploy
.idea
resources/logs/*
